body {
  background-color: #000000;
  font-family: courier, monospace;
  color: #e1e1dd;
}
a:link {
  color: #6a76fc;
}
a:visited {
  color: #6a76fc;
}
a:hover {
  color: #bd7218;
  text-decoration: underline;
}
