body {
  background-color: #000000;
  font-family: courier, monospace;
  color: #E1E1DD;
}
a:link {
  color: #6a76fc;
  }
a:visited {
  color: #6a76fc;
}
a:hover {
  color: #BD7218;
  text-decoration: underline;
}

